.comparison_page {
    overflow-y: auto;
    background-image: url("../../img/layouts/green-bg.jpg");
    background-repeat: repeat;
}

.border {
    border-bottom: 4px solid #afd779;
    width: 75px;
    margin: 0 auto;
}

.media_item {
	margin-bottom: 25px;
    height: 200px;
    background-color: #afd779;
}