.comparison_page {
    overflow-y: auto;
    background-image: url("../../img/layouts/red-bg.png");
    background-repeat: repeat;
}

.border {
    border-bottom: 4px solid #f89fd4;
    width: 75px;
    margin: 0 auto;
	margin-bottom: 20px;
}

.media_item {
    background-color: #f89fd4;
}

.title {
    padding: 5px 0px;
    color: #C079A3;
    width: 87%;
    margin-bottom: 20px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 4px 14px 0px rgba(248,159,212, 0.75);
    -moz-box-shadow: 0px 4px 14px 0px rgba(248,159,212, 0.75);
    box-shadow: 0px 4px 14px 0px rgba(248,159,212, 0.75);
}

.text_item > p {
    color: #C079A3;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
}

.submit_media_id {
    color: #f89fd4;
}

.removeVideo {
	color: #f89fd4;
}