.comparison_page {
    overflow-y: auto;
    background-image: url("../../img/layouts/black-bg.jpg");
    background-repeat: repeat;
}

.border {
    border-bottom: 4px solid #4d4d4d;
    width: 75px;
    margin: 0 auto;
	margin-bottom: 20px;
}

.media_item {
	margin-bottom: 25px;
    height: 200px;
    background-color: #4d4d4d;
}

.title {
    padding: 5px 0px;
    color: #333;
    width: 87%;
    margin-bottom: 20px;
    background-color: #FFF;
    -webkit-box-shadow: 0px 4px 14px 0px rgba(77,77,77, 0.75);
    -moz-box-shadow: 0px 4px 14px 0px rgba(77,77,77, 0.75);
    box-shadow: 0px 4px 14px 0px rgba(77,77,77, 0.75);
}

.text_item > p {
    color: #333;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
}