/*@media (max-width: 3600px){
	.comparison_page {
		max-height: 720px;
		overflow: auto;
	}
}

@media (max-width: 1440px){
	.comparison_page {
		max-height: 560px;
		overflow: auto;
	}
}

@media (max-width: 1350px){
	.comparison_page {
		max-height: 445px;
		overflow: auto;
	}
}

@media (max-width: 1024px){
	.comparison_page {
		max-height: 500px;
		overflow: auto;
	}
	#layout {
		width: 75% !important;
	}
}

@media (max-width: 800px){
	.comparison_page {
		max-height: 710px;
		overflow: auto;
	}
	#layout {
		width: 100% !important;
	}
}

@media (max-width: 736px){
	.comparison_page {
		max-height: 330px;
		overflow: auto;
	}
	.terms {
		padding-left: 22px;
	}
	#layout {
		width: 75% !important;
	}
}

@media (max-width: 667px){
	.comparison_page {
		max-height: 295px;
		overflow: auto;
	}
	#layout {
		width: 85% !important;
	}
}

@media (max-width: 600px){
	.comparison_page {
		max-height: 600px;
		overflow: auto;
	}

@media (max-width: 568px){
	.comparison_page {
		max-height: 240px;
		overflow: auto;
	}
	#layout {
		width: 100% !important;
	}
}

@media (max-width: 480px){
	.comparison_page {
		max-height: 240px;
		overflow: auto;
	}
	#layout {
		width: 100% !important;
	}
}

@media (max-width: 414px){
	.comparison_page {
		max-height: 600px;
		overflow: auto;
	}
	.terms {
		padding-left: 0px
	}
}

@media (max-width: 360px){
	.comparison_page {
		max-height: 555px;
		overflow: auto;
	}
}

@media (max-width: 320px){
	.comparison_page {
		max-height: 380px;
		overflow: auto;
	}
}*/

