.terms  {
    font-weight:  bold;
    float:  left;
    margin-top:  22px;
    margin-left: 32px;
}

.terms > a:focus {
    text-decoration: none;
}

.logoEU  {
    float:  right;
    width:  96px;
    height:  33px;
    margin-top:  20px;
    background-repeat:  no-repeat;
    background-image:  url("/eddie/apps/euscreenpublicationbuilder/img/layouts/ic_euscreen.png");
}


/*@media (max-width: 3600px){
	.comparison_page {
		max-height: 720px;
		overflow: auto;
	}
}

@media (max-width: 1440px){
	.comparison_page {
		max-height: 560px;
		overflow: auto;
	}
}

@media (max-width: 1350px){
	.comparison_page {
		max-height: 445px;
		overflow: auto;
	}
}

@media (max-width: 1024px){
	.comparison_page {
		max-height: 500px;
		overflow: auto;
	}
	#layout {
		width: 75% !important;
	}
}

@media (max-width: 800px){
	.comparison_page {
		max-height: 710px;
		overflow: auto;
	}
	#layout {
		width: 100% !important;
	}
}

@media (max-width: 736px){
	.comparison_page {
		max-height: 330px;
		overflow: auto;
	}
	.terms {
		padding-left: 22px;
	}
	#layout {
		width: 75% !important;
	}
}

@media (max-width: 667px){
	.comparison_page {
		max-height: 295px;
		overflow: auto;
	}
	#layout {
		width: 85% !important;
	}
}

@media (max-width: 600px){
	.comparison_page {
		max-height: 600px;
		overflow: auto;
	}

@media (max-width: 568px){
	.comparison_page {
		max-height: 240px;
		overflow: auto;
	}
	#layout {
		width: 100% !important;
	}
}

@media (max-width: 480px){
	.comparison_page {
		max-height: 240px;
		overflow: auto;
	}
	#layout {
		width: 100% !important;
	}
}

@media (max-width: 414px){
	.comparison_page {
		max-height: 600px;
		overflow: auto;
	}
	.terms {
		padding-left: 0px
	}
}

@media (max-width: 360px){
	.comparison_page {
		max-height: 555px;
		overflow: auto;
	}
}

@media (max-width: 320px){
	.comparison_page {
		max-height: 380px;
		overflow: auto;
	}
}*/

