body {
	background-color:#F2F2F2 !important;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
	color: #444; 
}

a {
	color: #808080!important;
}

a:hover {
	color: #00AEEF !important;
	text-decoration: none !important;
}

.col-sm-12 .col-md-12 .col-lg-12 .no-pd {
	padding: 0;
}

.border {
    width: 10%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.layout_image {
	width: 80%;
  	margin-left: 10%;
	border: 1px solid black;
	background-color: gray;
	margin-bottom: 20px;
}

#header {
	width: 100%;
	height: 70px;
	background-color: #FFF;
	border-bottom: 5px solid #00AEEF;
	margin-bottom: 5px;
}

#header-title {
	float: left;
	margin-top: 20px;
	margin-left: 15px;
	font-size: 1.291em;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#header-options {
	float: right;
	margin-top: 20px;
	margin-right: 15px;
	font-size: 1.291em;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#x-icon {
	width: 50px;
	height: 50px;
	background-image: url("../../img/layouts/img/x.png");
}

#x-icon:hover {
	width: 50px;
	height: 50px;
	background-image: url("../../img/layouts/img/xblack.png");
}

#left {
	/*float: left;
	width: 10%;
	height: auto;*/
	background-color: #FFF;
}

.themeNavi {
	list-style-type: none;
    background-color: white;
    padding-left: 0;
}

.theme_name {
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
}

.scheme_image {
	width: 80%;
  	margin-left: 10%;
	margin-bottom: 20px;
	background-color: transparent;
	border: none;
	
}

#right_header_1 {
    cursor: pointer;
}

#right {
	background-color: #FFF;
}

.top-option-wrap {
    width: 100%;
    height: 32px;
    margin-top: 16px;
}



.tgl {
	-ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.side-box-wrapp-top {
    width: 100%;
    border-bottom: 4px solid #afd779; 
    height: 54px;
}

#bookmarklayout {
	float: left;
    padding: 15px 50px;
    background-color: #afd779;
}

#colectionslayout {
	float: left;
	padding: 15px 49px;
    background-color: #afd779;
}

.collection-header {
	display: none;
}

.right-header {
    text-align: center;
    font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

.additional-icon-1 {
	width: 33px;
	height: 24px;
	background-image: url("../../img/layouts/img/youtube-i.png");
}

.additional-icon-2 {
	width: 27px;
	height: 23px;
	background-image: url("../../img/layouts/img/vmeo-i.png");
}

.additional-icon-3 {
	width: 30px;
	height: 30px;
	background-image: url("../../img/layouts/img/plus-i.png");
}

#layout {
  	background-color: #FFF;
 	overflow: hidden;
 	width: 100%;
	margin: 0 auto;
}

#mceu_13 {
	clear: both;
}

#context {
	position: absolute;
	width: 154px;
  	background-color: white;
  	opacity: 0.9;
  	height: 102px;
  	padding-top: 20px;
}

#context ul {
	height: 100%;
	list-style-type: none;
	padding-left: 34px;
}

#synctime {
	display: none;
}

#layouts {
	padding-top: 15px;
	background-color: white;
}

#layouts ul {
	padding-left: 0px;
	list-style-type: none;
}

#bookmarklayout {
	padding-top: 15px;
	background-color: white;
}

.addVideoBox {
	margin-top: 20%;
    text-align: center;
}

.videoAfterDrop {
	width: 100%;
	height: 100%;
    border: 0;
    background-color: black;
}

.removeVideo {
	position: absolute;
	width: 100%;
	bottom: -25px;
	text-align: center;
	color: white;
	cursor: pointer;
}

.media_item .fullscreen{
	top: 10px;
	left: 10px;
}

#edit {
    background-color: #afd779;
    border-radius: 5px;
    padding: 5px 35px;
    width: 120px;
    display: block;
    float: right;
    text-align: center;
    display: block;
    color: #FFF !important;
}

.top-option-wrap {
	width: 100%;
	height: 32px;
}

#preview {
    border-radius: 5px;
    padding: 5px 35px;
    width: 120px;
    display: block;
    margin-left: 15px;
    float: right;
    color: #FFF !important;
    background-color: #afd779;
}

#publish {
    background-color: #afd779;
    border-radius: 5px;
    padding: 5px 35px;
    margin-left: 15px;
    width: 120px;
    display: block;
    float: right;
    color: #FFF !important;
}

#layout-nav {
    margin-top: 0px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}

#color-schemes {
    margin-top: 0px;
    cursor: pointer;
    float: left;
    margin-right: 20px;
}

#build {
	margin-top: 0px;
    cursor: pointer;
    float: left;
}