.comparison_page {
    overflow-y: auto;
    background-image: url("../../img/layouts/green-bg.png");
    background-repeat: repeat;
}

.border {
    border-bottom: 4px solid #afd779;
    width: 60px;
    margin: 0 auto;
	margin-bottom: 20px;
    border-radius: 2px;
}

.media-item {
    background-color: #afd779 !important;
}

.title {
    padding: 5px 0px;
    color: #87a85b;
    width: 87%;
    margin-bottom: 20px;
    /*background-color: #FFF;*/
    -webkit-box-shadow: 0px 1px 5px 0px rgba(175, 215, 121, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(175, 215, 121, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(175, 215, 121, 0.75);
}

.text_item > p {
    color: #87a85b;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
}

.submit_media_id {
    color: #afd779;
}

.removeVideo {
	color: #afd779;
}