.comparison_page {
    overflow-y: auto;
    background-image: url("../../img/layouts/red-bg.png");
    background-repeat: repeat;
}

.border {
    border-bottom: 4px solid #f89fd4;
    width: 60px;
    margin: 0 auto;
    margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 2px;
}

.media-item {
    background-color: #f89fd4 !important;
}

.title {
    color: #C079A3;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(248,159,212, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(248,159,212, 0.75);
    box-shadow: 0px 1px 5px 0px rgba(248,159,212, 0.75);
}

.text_item > p {
    color: #C079A3;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 10px;
}

.submit_media_id {
    color: #f89fd4;
}

.removeVideo {
	color: #f89fd4;
}