<div class="top-add-wrapp-1">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div id="header-title">Create a video poster</div>
			</div>
			<div class="col-sm-6 col-md-6">
				<div id="x-icon"></div>
			</div>
		</div>
	</div>
</div>

<div class="top-add-wrapp-2">
	<div class="container more-1">
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<div class="top-option-wrap">
					<div id="layout-nav" class="nav-arrow-togle arrow-pinter" type="layout">Layouts</div>
					<div id="color-schemes" class="nav-arrow-togle" type="colorShemes">Color schemes</div>
					<div id="build" class="nav-arrow-togle" type="build">Build</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6 pull-right">
				<div class="top-option-wrap-2">
					<a href="#" id="edit" class="header-button">Save</a>
					<a href="#" id="publish" class="header-button">Save</a>
					<a href="#" id="preview" class="header-button">Preview</a>
				</div>
			</div>
		</div>
	</div>
</div>