<div class="container">
<div class="row">
	<div class="col-sm-12 col-md-12 col-lg-12">
		<h1 class="layouts-title">Fill title and description and add videos in your Video Poster. You can drag and drop from your bookmarks or select external video sources.</h1>
	</div>
</div>
		
	<div class="row">
		<div id="buildCont" class="col-sm-8 col-md-8 col-lg-8"></div>
		<div id="bookmarksCont" class="col-sm-4 col-md-4 col-lg-4">
			<div class="side-box-wrapp-top">
				<div id="bookmarklayout"></div>
				<div id="colectionslayout"></div>
			</div>
			
			<!--  <div class="arrow-wrap">
				<div class="arrow-left"></div>
				<div class="arrow-right"></div>
			</div>-->
		</div>
	</div>
</div>