<script type="text/template" id="layout_listing_template">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				<h1 class="layouts-title">
					Please select the available video poster layout below. Remember that this is one-time only, once you select a layout there is no coming back
				</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<% var data = _.sortBy(data, function(item){ return item.order; }); %>
		<% console.log("DATA", data); %>
		<% for(var i = 0; i < data.length; i++){ %>
			<% if(i % 3 === 0){ %>
				<div class="row">
			<% } %>
			<% var layout = data[i]; %>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<div class="layout_image" data-layout-id="<%= layout.id %>">
					<%= layout.icon %>
				</div>
				<h4 class="theme_name">
					<%= layout.name %>
				</h4>
				<p class="theme-desc">
					<%= layout.description %>
				</p>
			</div>
			<% if(i % 3 === 2 || i === (data.length - 1)){ %>
				</div>
			<% } %>
		<% } %>
	</div>
</div>
</script>