.theme-black{
	
}
	.theme-black .layout-icon{
		
	}
		.theme-black .layout-icon .layout-icon-bg{
			fill: #4d4d4d;
		}
		
		.theme-black .layout-icon .layout-icon-text{
			fill: #FFF;
			opacity: 0.4;
		}
		
		.theme-black .layout-icon .layout-icon-body{
			fill: #FFFFFF;
			opacity: 0.8;
		}
	