.theme-green{
	
}
	.theme-green .layout-icon{
		
	}
		.theme-green .layout-icon .layout-icon-bg{
			fill: #afd779;
		}
		
		.theme-green .layout-icon .layout-icon-text{
			fill: #000000;
			opacity: 0.4;
		}
		
		.theme-green .layout-icon .layout-icon-body{
			fill: #FFFFFF;
			opacity: 0.8;
		}
	