.theme-purple{
	
}
	.theme-purple .layout-icon{
		
	}
		.theme-purple .layout-icon .layout-icon-bg{
			fill: #f89fd4;
		}
		
		.theme-purple .layout-icon .layout-icon-text{
			fill: #c079a3;
			opacity: 0.4;
		}
		
		.theme-purple .layout-icon .layout-icon-body{
			fill: #FFFFFF;
			opacity: 0.8;
		}