<div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-1">
	<div id="left-header-layout" class="accordion">Layouts</div>
	<div id="layouts"></div>
	<div id="left-header-theme" class="accordion">Color schemes</div>
	<div id="color_schemes"></div>
	<div id="left-header-background" class="accordion">Background</div>
	<div id="background">
		<div id="colorPicker">
        	<a class="color"><div class="colorInner"></div></a>
        	<div class="track"></div>
        	<ul class="dropdown">
        		<li>
        		</li>
        	</ul>
        	<input type="hidden" class="colorInput"/>
    	</div>
	</div>
</div>