<script type="text/template" id="theme_listing_template">
<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<h1 class="layouts-title">
				Please select the color scheme for your Video Poster below, alternatively you can edit the font color in the build section.
			</h1>
		</div>
	</div>
</div>

<div class="container">
	<% var data = _.sortBy(data, function(item){ return item.theme.order }); %>
	<% _.each(data, function(item, i) { %>
		<% if(i % 3 === 0){ %>
			<div class="row">
		<% } %>
				
		<div class="col-sm-4 col-md-4 col-lg-4">
			<div class="theme_image" data-theme-id="<%= item.theme.id %>">
				<%= item.icon %>
			</div>
			<h4 class="theme_name">
				<%= item.theme.name %>
			</h4>
			<p class="theme-desc">
				<%= item.theme.description %>
			</p>
		</div>

		<% if(i % 3 === 2 || i === (data.length - 1)){ %>
			</div>
		<% } %>
	<% }); %>
</div>
</script>