<script type="text/template" id="bookmarks_layout_template">
    	<%
			_.each(bookmarks, function(acs) {
		%>
					  <div class="list-media-item row" id="bookmarkItem_<%= acs.id %>" data-itemId="<%= acs.id %>" data-public="<%= acs.isPublic %>">
							<div class="media-container col-md-12">
								<div class="media-thumb col-md-6">
									<% if(!acs.isPublic) { %><p>Unfortunately due to copyright agreements with the Content Provider this video cannot be used for making a video poster.</p><% } %>
									<div class="media-thumb-image">
										<img data-video-poster="<%= acs.screenshot %>" data-video-src="<%= acs.video %>" src="<%= acs.screenshot %>" alt="<%= acs.title %>"/>
									</div>
								</div>
								<div class="media-info col-md-6">
									<h4><%= acs.title %></h4>
									<span class="provider">By <%= acs.provider %></span> 
								</div>
							</div>
							
						</div>
		<%
			});
 		%>
		<div class="pagination-wrapper">
			<div class="pagination pull-right">
				
				<% if(pages > 1){ %>
				<span class="pages">
					<% if(page > 0){ %>
						<a class="arrow-left" data-page="<%= (page - 1) %>"><i class="fa fa-chevron-left"></i></a>&nbsp;
					<% } %>
					<% for(var i = 0; i < pages; i++){ %>
						<a href="#" data-page="<%= i %>" <% if(i === page){ %>class="active"<% } %>><i class="fa fa-circle">&nbsp;</i></a>
					<% } %>
					<% if(page < (pages - 1)){ %>
						&nbsp;<a class="arrow-right" data-page="<%= (page + 1) %>"><i class="fa fa-chevron-right"></i></a>
					<% } %>
				</span>
				<% } %>
			</div>
		</div>
</script>

<script type="text/template" id="colectionslayout_headers_template">
	<div class="right-header collection-header" id="<%= data.id %>" childs_type="<%= data.name %>"> <%= data.name %> </div>
</script>

<script type="text/template" id="bookmarksContent_collections_template">
	<div class="panel-group" id="collectionsAccordion" role="tablist" aria-multiselectable="true">
		<% for(var i = 0; i < collections.length; i++){ %>
			<% var collection = collections[i]; %>
			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="#collapsibleCol_<%= collection.id %>">
					<h4 class="panel-title">
						<a role="button" data-toggle="collapse" data-parent="#collectionsAccordion" href="#collapsibleCol_<%= collection.id %>" aria-expanded="true" aria-controls="collapseOne">
							<%= collection.name %>
						</a>
					</h4>
				</div>
				<div id="collapsibleCol_<%= collection.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapsibleCol_<%= collection.id %>">
					<div class="panel-body">
						<!-- RENDER VIDEOS FOR COLLECTION HERE (check #bookmarksContent_collections_videos_template) -->
					</div>
				</div>
			</div>
		<% } %>
	</div>
</script>

<script type="text/template" id="bookmarksContent_collections_videos_template">
<% for(var c = 0; c < collection.paginatedVideos.length; c++){ %>
	<% var item = collection.paginatedVideos[c]; %>
	<% if(item.video != null){ %>
		<div class="list-media-item row" id="colItem_<%= item.id %>" class="drag_bookmark" data-public="<%= item.isPublic %>">
			<div class="media-container col-md-12">
				<div class="media-thumb col-md-6">
					<% if(!item.isPublic) { %><p>Unfortunately due to copyright agreements with the Content Provider this video cannot be used for making a video poster.</p><% } %>
					<div class="media-thumb-image">
						<img data-video-poster="<%= item.screenshot %>" data-video-src="<%= item.video %>" src="<%= item.screenshot %>" alt="<%= item.title %>"/>
					</div>
				</div>
				<div class="media-info col-md-6">
					<h4><%= item.title %></h4>
					<span class="provider">By <%= item.provider %></span> 
				</div>
			</div>
		</div>
	<% } %>
<% } %>
<div class="pagination-wrapper">
	<div class="pagination pull-right">
		
		<% if(collection.pages > 1){ %>
		<span class="pages">
			<% if(collection.page > 0){ %>
				<a class="arrow-left" data-collection="<%= collection.id %>" data-page="<%= (collection.page - 1) %>"><i class="fa fa-chevron-left"></i></a>&nbsp;
			<% } %>
			<% for(var i = 0; i < collection.pages; i++){ %>
				<a href="#" data-collection="<%= collection.id %>" data-page="<%= i %>" <% if(i === collection.page){ %>class="active"<% } %>><i class="fa fa-circle">&nbsp;</i></a>
			<% } %>
			<% if(collection.page < (collection.pages - 1)){ %>
				&nbsp;<a class="arrow-right" data-collection="<%= collection.id %>" data-page="<%= (collection.page + 1) %>"><i class="fa fa-chevron-right"></i></a>
			<% } %>
		</span>
		<% } %>
	</div>
</div>
</script>

<div class="side-box-wrapp-top bookmark-tabs">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#bookmarksTab" aria-controls="home" role="tab" data-toggle="tab">Bookmarks</a></li>
   	 	<li role="presentation"><a href="#collectionsTab" aria-controls="profile" role="tab" data-toggle="tab">Collections</a></li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="bookmarksTab"></div>
		<div class="tab-pane" id="collectionsTab"></div>
	</div>
	
	<div style="display: none">
		<div class="right-header right-header_active" id="right_header_0" style="float:left; width: 50%;">Bookmarks</div>
		<div class="right-header" id="collections" style="float:right; width: 50%;">Collections</div> 
		<div id="bookmarklayout"></div>
		<div id="colectionslayout">		
			<div id="colectionslayout_headers"></div>
			<div id="colectionslayout_items"></div>
		</div>
	</div>
	
</div>