.media_item {
	height: 200px;
	float: left;
	width: 25%;
	margin-left: 15%;
	border: 1px solid black;
	margin-bottom: 10px;
}

.text {
	overflow: hidden;
  	border: 1px solid black;
  	width: 100%;
  	margin: 0 auto;
  	min-height: 400px;
  	clear: both;
}