body {
	background-color:#F2F2F2 !important;
	-webkit-background-size: 1024px 768px;
	-moz-background-size: 1024px 768px;
	-o-background-size: 1024px 768px;
	background-size: 1024px 768px;
	color: #444; 
}

a {
	color: #808080!important;
}

a:hover {
	color: #00AEEF !important;
	text-decoration: none !important;
}

.layout_image {
	/*width: 80%;
  	margin-left: 10%;
	border: 1px solid black;
	background-color: gray;
	margin-bottom: 20px;*/
    width: 98%;
	margin: 0 auto;
    display: block;
}

#header {
	width: 100%;
	height: 122px;
	background-color: #FFF;\
	border-bottom: 5px solid #00AEEF;
	margin-bottom: 5px;
}

.col-md-12.col-sm-12.more {
	height: 65px;
}

.col-md-12.col-sm-12.more-2 {
	background-color: rgb(246, 246, 246);
	height: 72px;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
}

#header-title {
	float: left;
	margin-top: 20px;
	margin-left: 111px;
	font-size: 1.291em;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#header-options {
	float: right;
	margin-top: 20px;
	margin-right: 15px;
	font-size: 1.291em;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#header-options {
	width: 230px;
	float: right;
	margin-top: 24px;
	margin-right: 111px;
}

#x-icon {
	width: 15px;
    float: right;
    margin-top: 26px;
    margin-right: 110px;
    height: 17px;
	background-image: url("../img/x.png");
	background: url("http://pb.euscreenxl.eu/eddie/apps/euscreenpublicationbuilder/img/ex-button.png");
	background-repeat: no-repeat;
}

#x-icon:hover {
	width: 15px;
	height: 17px;
	background-image: url("../img/xblack.png");
	background: url("http://pb.euscreenxl.eu/eddie/apps/euscreenpublicationbuilder/img/ex-button.png");
}

#layoutsContent {
	background-color: #fff;
	padding-bottom: 130px;
}

#colorschemesContent {
	background-color: #fff;
	padding-bottom: 130px;
	margin-top: 16px;
   /*border-top: 1px solid #E8E8E8;*/
}

#left {
	/*float: left;
	width: 10%;
	height: auto;*/
	background-color: #FFF;
}

.themeNavi {
	list-style-type: none;
    background-color: white;
    padding-left: 0;
}

.theme_name {
	text-align: center;
	margin-top: 0;
	padding-top: 15px;
}

.scheme_image {
	width: 100%;
  	/*margin-left: 10%;
	margin-bottom: 20px;*/
	background-color: transparent;
	border: none;
	margin-top: 30px;
}

/*#middle {
	width: 80%;
	height: 300px;
	float: left;
}*/

.inner-div-scheme {
	width: 360px;
}

#right {
	/*float: right;
	width: 10%;
	height: auto;*/
	background-color: #FFF;
}

#right video{
	position: relative;
	width: 100%;
}

.right-header {
	background-color: #00AEEF;
	padding: 5px;
	/*margin-bottom: 10px;*/
	text-align: center;
	color: white;
	border-bottom: 2px solid #F2F2F2;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#left-header-layout {
	background-color: #00AEEF;
	padding: 5px;
	/*margin-bottom: 10px;*/
	text-align: center;
	color: white;
	border-bottom: 2px solid #F2F2F2;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#left-header-theme {
	background-color: #00AEEF;
	padding: 5px;
	/*margin-bottom: 10px;*/
	text-align: center;
	color: white;
	border-bottom: 2px solid #F2F2F2;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#left-header-background {
	background-color: #00AEEF;
	padding: 5px;
	/*margin-bottom: 10px;*/
	text-align: center;
	color: white;
	border-bottom: 2px solid #F2F2F2;
	font-family: "Titillium Web","DIN","Helvetica Neue",Monaco,"Andale Mono",Consolas,monospace;
}

#layout {
  	/*background-color: rgb(232, 232, 232);
  	background-color: #FFF;
 	overflow: hidden;
 	width: 100%;
	margin: 0 auto;
	padding: 3%;
	background-color: #FFF;*/
	
}

#layout-nav {
	width: auto;
	float: left;
	margin-left: 111px;
	margin-top: 28px;
	cursor: pointer;
}

#color-schemes {
	width: auto;
	float: left;
	margin-top: 28px;
	margin-left: 40px;
	cursor: pointer;
}

#build {
	width: auto;
	float: left;
	margin-top: 28px;
	margin-left: 40px;
	cursor: pointer;
}

.theme-desc {
	font-size: 13px;
    color: #8d8d8d;
    text-align: center;
}

.arrow-pinter {
	background: url("http://pb.euscreenxl.eu/eddie/apps/euscreenpublicationbuilder/img/menu-arrow.png");
	background-repeat: no-repeat;
    background-position: center bottom;
    height: 44px;
}

#mceu_13 {
	clear: both;
}

#context {
	position: absolute;
	width: 154px;
  	background-color: white;
  	opacity: 0.9;
  	height: 102px;
}

#context ul {
	height: 100%;
	list-style-type: none;
	padding-left: 34px;
}

#synctime {
	display: none;
}

#layouts {
	padding-top: 15px;
	background-color: white;
}

#layouts ul {
	padding-left: 0px;
	list-style-type: none;
}

#bookmarklayout {
	background-color: white;
}

.addVideoBox {
	margin-top: 20%;
    text-align: center;
}

.videoAfterDrop {
	width: 100%;
	height: 100%;
    border: 0;
    background-color: black;
}

#overlaydialog{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.99);
	padding: 20px;
	z-index: 9995;
	display: none;
}

#overlaydialog .action{
	position: relative;
	top: 10px;
	right: 20px;
	color: white;
	font-size: 2em;
	opacity: 1 !important;
	z-index: 9997;
}


#overlaydialog .action span{
	cursor: pointer;
}

#overlaydialog .contents{
	position: relative;
	padding: 50px;
	height: 100%;
	width: 100%;
	z-index: 9996;
}

#overlaydialog iframe{
	position: relative;
	border: none;
	height: 100%;
	width: 100%;
}

#youtube_id {
	width: 93%;
	height: 22px;
	overflow: hidden;
	margin: 0px auto;
	background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
}

/*#preview {
	display: none;
}*/

#preview {
	border-radius: 5px;
	padding: 4px 30px;
	color: white !important;
	background-color: rgb(217, 217, 217);
}

#publish {
	display: inline;
	background-color: #afd779;
	border-radius: 5px;
	padding: 4px 25px;
	color: #FFF !important;
}

/*#publish {
	display: none;
}*/

.layouts-title {
	width: 83%;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#left-header-layout {
 cursor:pointer; 
}

#left-header-theme {
 cursor:pointer; 
}

#right_header_0 {
 cursor:pointer;
}

.media_item i{
	cursor: pointer;
	color: white;
	position: absolute;
}

.media_item .fullscreen{
	top: 10px;
	left: 10px;
}

.media_item .remove{
	top: 10px;
	right: 10px;
}

.media_item .drag_bookmark .removeVideo{
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: -25px;
}